n8n/workflows/drift_alert.json
{
  "name": "[MEME] Drift Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30,
              "field": "weeks",
              "triggerAtDay": [1]
            }
          ]
        }
      },
      "id": "da-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xayfwuqbbqtyerxzjbec.supabase.co/rest/v1/rpc/exec_query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query_text\": \"SELECT * FROM drift_reports ORDER BY checked_at DESC LIMIT 1\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "da-query-drift",
      "name": "Query Latest Drift Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Service Role"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Drift Alert - Format Drift Report for Telegram\n// ============================================================\n\nconst CHAT_ID = '{{ $env.TELEGRAM_CHAT_ID }}';\n\nconst items = $input.all();\nconst firstItem = items[0]?.json;\nconst today = new Date().toISOString().slice(0, 10);\n\n// --- Case A: HTTP error ---\nif (firstItem?.error || (firstItem?.statusCode && firstItem.statusCode >= 400)) {\n  const errorMsg = firstItem.error?.message || firstItem.message || firstItem.error || 'Error desconocido';\n  return [{\n    json: {\n      text: `<b>\\ud83d\\udcca Drift Report \\u2014 Trading Memes</b>\\n` +\n            `<b>Fecha:</b> ${today}\\n\\n` +\n            `\\u274c <b>ERROR</b>: Fallo al consultar Supabase.\\n` +\n            `<code>${errorMsg}</code>\\n\\n` +\n            `Verificar conectividad con Supabase y la tabla drift_reports.`,\n      chat_id: CHAT_ID\n    }\n  }];\n}\n\n// --- Parse report ---\n// exec_query returns array; n8n may wrap it or split into items\nlet report = null;\nif (Array.isArray(firstItem)) {\n  report = firstItem.length > 0 ? firstItem[0] : null;\n} else if (firstItem && firstItem.checked_at) {\n  report = firstItem;\n} else if (firstItem && Array.isArray(firstItem.result)) {\n  report = firstItem.result.length > 0 ? firstItem.result[0] : null;\n}\n\n// --- Case B: No drift report found ---\nif (!report || !report.checked_at) {\n  return [{\n    json: {\n      text: `<b>\\ud83d\\udcca Drift Report \\u2014 Trading Memes</b>\\n` +\n            `<b>Fecha:</b> ${today}\\n\\n` +\n            `\\u2139\\ufe0f No hay drift report disponible.\\n` +\n            `Verificar que check-retrain.yml se ejecut\\u00f3 correctamente.`,\n      chat_id: 'TELEGRAM_CHAT_ID'\n    }\n  }];\n}\n\n// --- Case C: Report found - format nicely ---\nconst r = report;\n\n// Parse JSON fields if they come as strings\nfunction safeParse(val) {\n  if (!val) return null;\n  if (typeof val === 'object') return val;\n  try { return JSON.parse(val); } catch (e) { return null; }\n}\n\nconst checkedAt = r.checked_at ? r.checked_at.slice(0, 19).replace('T', ' ') : 'N/A';\nconst modelVersion = r.model_version || 'N/A';\nconst overallScore = r.overall_score !== undefined ? Number(r.overall_score).toFixed(2) : 'N/A';\nconst needsRetrain = r.needs_retraining === true;\n\n// Time drift\nconst timeDriftDays = r.time_drift_days !== undefined ? r.time_drift_days : 'N/A';\nconst timeDriftTriggered = r.time_drift_triggered === true;\n\n// Volume drift\nconst volumeDriftNewLabels = r.volume_drift_new_labels !== undefined ? r.volume_drift_new_labels : 'N/A';\nconst volumeDriftTriggered = r.volume_drift_triggered === true;\n\n// Feature drift\nconst featureDriftCount = r.feature_drift_count !== undefined ? r.feature_drift_count : 'N/A';\nconst featureDriftTotal = r.feature_drift_total !== undefined ? r.feature_drift_total : 'N/A';\nconst featureDriftTriggered = r.feature_drift_triggered === true;\nconst featureDriftDetails = safeParse(r.feature_drift_details);\n\n// Reasons\nconst reasons = safeParse(r.reasons) || (r.reasons ? [r.reasons] : []);\n\n// Build message\nlet msg = `<b>\\ud83d\\udcca Drift Report \\u2014 Trading Memes</b>\\n`;\nmsg += `<b>Fecha:</b> ${checkedAt}\\n`;\nmsg += `<b>Modelo:</b> ${modelVersion}\\n`;\nmsg += `<b>Score:</b> ${overallScore}/1.0\\n`;\nmsg += `<b>Necesita retrain:</b> ${needsRetrain ? '\\u2705 S\\u00ed' : '\\u274c No'}\\n\\n`;\n\nmsg += `<b>\\u23f0 Time Drift:</b> ${timeDriftDays} d\\u00edas ${timeDriftTriggered ? '\\u26a0\\ufe0f' : '\\u2705'}\\n`;\nmsg += `<b>\\ud83d\\udcc8 Volume Drift:</b> ${volumeDriftNewLabels} nuevos labels ${volumeDriftTriggered ? '\\u26a0\\ufe0f' : '\\u2705'}\\n`;\nmsg += `<b>\\ud83d\\udd2c Feature Drift:</b> ${featureDriftCount}/${featureDriftTotal} features desviadas ${featureDriftTriggered ? '\\u26a0\\ufe0f' : '\\u2705'}\\n`;\n\n// Feature drift details\nif (featureDriftDetails && typeof featureDriftDetails === 'object') {\n  const entries = Array.isArray(featureDriftDetails) ? featureDriftDetails : Object.entries(featureDriftDetails);\n  if (entries.length > 0) {\n    msg += `\\n<b>Features desviadas:</b>\\n`;\n    for (const entry of entries) {\n      if (Array.isArray(entry)) {\n        // Object.entries format: [feature_name, {train, current, shift_pct}]\n        const [feature, detail] = entry;\n        if (detail && typeof detail === 'object') {\n          const train = detail.train !== undefined ? Number(detail.train).toFixed(3) : 'N/A';\n          const current = detail.current !== undefined ? Number(detail.current).toFixed(3) : 'N/A';\n          const shift = detail.shift_pct !== undefined ? Number(detail.shift_pct).toFixed(1) : 'N/A';\n          msg += `\\u2022 ${feature}: train=${train} \\u2192 actual=${current} (${shift}%)\\n`;\n        } else {\n          msg += `\\u2022 ${feature}: ${detail}\\n`;\n        }\n      } else if (typeof entry === 'object' && entry.feature) {\n        // Array of objects format: [{feature, train, current, shift_pct}]\n        const train = entry.train !== undefined ? Number(entry.train).toFixed(3) : 'N/A';\n        const current = entry.current !== undefined ? Number(entry.current).toFixed(3) : 'N/A';\n        const shift = entry.shift_pct !== undefined ? Number(entry.shift_pct).toFixed(1) : 'N/A';\n        msg += `\\u2022 ${entry.feature}: train=${train} \\u2192 actual=${current} (${shift}%)\\n`;\n      }\n    }\n  }\n}\n\n// Retrain reasons\nif (needsRetrain && Array.isArray(reasons) && reasons.length > 0) {\n  msg += `\\n<b>\\ud83d\\udd04 Razones:</b>\\n`;\n  for (const reason of reasons) {\n    msg += `\\u2022 ${reason}\\n`;\n  }\n  msg += `\\u26a1 Auto-retrain disparado.`;\n}\n\nreturn [{\n  json: {\n    text: msg,\n    chat_id: CHAT_ID\n  }\n}];"
      },
      "id": "da-format-report",
      "name": "Format Drift Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "da-telegram-send",
      "name": "Telegram: Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [780, 0],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Trading Memes"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query Latest Drift Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Latest Drift Report": {
      "main": [
        [
          {
            "node": "Format Drift Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Drift Report": {
      "main": [
        [
          {
            "node": "Telegram: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "trading-memes"
    },
    {
      "name": "drift"
    },
    {
      "name": "monitoring"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}