n8n/workflows/health_monitor.json
{
  "name": "[MEME] Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xayfwuqbbqtyerxzjbec.supabase.co/rest/v1/rpc/exec_query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\": \"SELECT COUNT(*) AS cnt FROM tokens WHERE first_seen::date = CURRENT_DATE\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "tokens-today",
      "name": "Tokens Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, -200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Service Role"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xayfwuqbbqtyerxzjbec.supabase.co/rest/v1/rpc/exec_query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\": \"SELECT COUNT(*) AS cnt FROM ohlcv_data WHERE timestamp::date = CURRENT_DATE\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ohlcv-today",
      "name": "OHLCV Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Service Role"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xayfwuqbbqtyerxzjbec.supabase.co/rest/v1/rpc/exec_query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\": \"SELECT 'tokens' AS tabla, COUNT(*) AS total FROM tokens UNION ALL SELECT 'ohlcv_data', COUNT(*) FROM ohlcv_data UNION ALL SELECT 'features', COUNT(*) FROM features UNION ALL SELECT 'labels', COUNT(*) FROM labels UNION ALL SELECT 'scores', COUNT(*) FROM scores\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "table-totals",
      "name": "Table Totals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Service Role"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://xayfwuqbbqtyerxzjbec.supabase.co/storage/v1/object/public/ml-models/latest_version.txt",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "latest-version",
      "name": "Latest Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Service Role"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://xayfwuqbbqtyerxzjbec.supabase.co/storage/v1/object/public/ml-models/{{ $json.data ? $json.data.trim() : $json.body ? $json.body.trim() : String($json).trim() }}/metadata.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "model-metadata",
      "name": "Model Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Service Role"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Health Monitor - Classify Health & Build Telegram Message\n// ============================================================\n\n// --- Leer resultados de nodos anteriores ---\nconst tokensRaw = $node['Tokens Today'].json;\nconst ohlcvRaw = $node['OHLCV Today'].json;\nconst totalsRaw = $node['Table Totals'].json;\nconst versionRaw = $node['Latest Version'].json;\nconst metadataRaw = $node['Model Metadata'].json;\n\n// --- Detectar errores HTTP (continueOnFail pone error en .error) ---\nconst tokensError = $node['Tokens Today'].json?.error !== undefined;\nconst ohlcvError = $node['OHLCV Today'].json?.error !== undefined;\nconst totalsError = $node['Table Totals'].json?.error !== undefined;\nconst versionError = $node['Latest Version'].json?.error !== undefined;\nconst metadataError = $node['Model Metadata'].json?.error !== undefined;\n\n// --- Extraer metricas ---\n// exec_query devuelve un array de objetos [{cnt: N}]\nlet tokensToday = 'N/A';\nif (!tokensError) {\n  try {\n    const parsed = Array.isArray(tokensRaw) ? tokensRaw : [tokensRaw];\n    tokensToday = parsed[0]?.cnt ?? parsed[0]?.count ?? 'N/A';\n  } catch (e) { tokensToday = 'N/A'; }\n}\n\nlet ohlcvToday = 'N/A';\nif (!ohlcvError) {\n  try {\n    const parsed = Array.isArray(ohlcvRaw) ? ohlcvRaw : [ohlcvRaw];\n    ohlcvToday = parsed[0]?.cnt ?? parsed[0]?.count ?? 'N/A';\n  } catch (e) { ohlcvToday = 'N/A'; }\n}\n\n// Totales por tabla\nconst tableMap = { tokens: 'N/A', ohlcv_data: 'N/A', features: 'N/A', labels: 'N/A', scores: 'N/A' };\nif (!totalsError) {\n  try {\n    const rows = Array.isArray(totalsRaw) ? totalsRaw : [totalsRaw];\n    for (const row of rows) {\n      if (row.tabla && tableMap.hasOwnProperty(row.tabla)) {\n        tableMap[row.tabla] = row.total ?? 'N/A';\n      }\n    }\n  } catch (e) { /* mantener N/A */ }\n}\n\n// Version del modelo\nlet modelVersion = 'N/A';\nif (!versionError) {\n  try {\n    // La respuesta de texto puede venir en .data, .body, o como string directo\n    const raw = versionRaw.data || versionRaw.body || String(versionRaw);\n    modelVersion = typeof raw === 'string' ? raw.trim() : 'N/A';\n  } catch (e) { modelVersion = 'N/A'; }\n}\n\n// Metadata del modelo\nlet trainedAt = 'N/A';\nlet modelAgeDays = 'N/A';\nlet rfF1 = 'N/A';\nlet xgbF1 = 'N/A';\nif (!metadataError && metadataRaw) {\n  try {\n    const meta = typeof metadataRaw === 'string' ? JSON.parse(metadataRaw) : metadataRaw;\n    trainedAt = meta.trained_at || meta.timestamp || 'N/A';\n    \n    if (trainedAt !== 'N/A') {\n      const trainDate = new Date(trainedAt);\n      const now = new Date();\n      modelAgeDays = Math.floor((now - trainDate) / (1000 * 60 * 60 * 24));\n    }\n    \n    // Buscar metricas F1 en metadata\n    if (meta.results) {\n      rfF1 = meta.results.random_forest?.val_f1 ?? meta.results.random_forest?.f1 ?? 'N/A';\n      xgbF1 = meta.results.xgboost?.val_f1 ?? meta.results.xgboost?.f1 ?? 'N/A';\n    } else if (meta.metrics) {\n      rfF1 = meta.metrics.rf_val_f1 ?? meta.metrics.rf_f1 ?? 'N/A';\n      xgbF1 = meta.metrics.xgb_val_f1 ?? meta.metrics.xgb_f1 ?? 'N/A';\n    }\n    if (typeof rfF1 === 'number') rfF1 = rfF1.toFixed(3);\n    if (typeof xgbF1 === 'number') xgbF1 = xgbF1.toFixed(3);\n  } catch (e) { /* mantener N/A */ }\n}\n\n// --- Clasificar estado ---\nlet status = 'OK';\nlet emoji = '\\u2705';\nconst warnings = [];\n\n// Errores HTTP -> ERROR\nif (tokensError && ohlcvError && totalsError) {\n  status = 'ERROR';\n  emoji = '\\ud83d\\udd34';\n  warnings.push('Supabase RPC no responde');\n}\n\n// Sin datos hoy -> WARNING\nif (tokensToday === 0 || tokensToday === 'N/A') {\n  warnings.push('Tokens hoy: ' + tokensToday);\n}\nif (ohlcvToday === 0 || ohlcvToday === 'N/A') {\n  warnings.push('OHLCV hoy: ' + ohlcvToday);\n}\n\n// Modelo stale -> WARNING\nif (typeof modelAgeDays === 'number' && modelAgeDays > 30) {\n  warnings.push('Modelo antiguo: ' + modelAgeDays + ' dias');\n}\nif (modelVersion === 'N/A') {\n  warnings.push('Version del modelo no disponible');\n}\n\n// Ajustar status\nif (status !== 'ERROR' && warnings.length > 0) {\n  status = 'WARNING';\n  emoji = '\\u26a0\\ufe0f';\n}\n\n// --- Construir mensaje HTML ---\nconst date = new Date().toISOString().split('T')[0];\n\nlet msg = `<b>${emoji} Health Monitor \\u2014 Trading Memes</b>\\n`;\nmsg += `<b>Fecha:</b> ${date}\\n`;\nmsg += `<b>Estado:</b> ${emoji} ${status}\\n`;\nmsg += '\\n';\n\nmsg += '<b>\\ud83d\\udcca Recolecci\\u00f3n Hoy:</b>\\n';\nmsg += `\\u2022 Tokens nuevos: ${tokensToday}\\n`;\nmsg += `\\u2022 OHLCV insertados: ${ohlcvToday}\\n`;\nmsg += '\\n';\n\nmsg += '<b>\\ud83d\\udccb Estado de Tablas:</b>\\n';\nmsg += `\\u2022 tokens: ${tableMap.tokens} filas\\n`;\nmsg += `\\u2022 ohlcv_data: ${tableMap.ohlcv_data} filas\\n`;\nmsg += `\\u2022 features: ${tableMap.features} filas\\n`;\nmsg += `\\u2022 labels: ${tableMap.labels} filas\\n`;\nmsg += `\\u2022 scores: ${tableMap.scores} filas\\n`;\nmsg += '\\n';\n\nmsg += '<b>\\ud83e\\udd16 Modelo:</b>\\n';\nmsg += `\\u2022 Versi\\u00f3n: ${modelVersion}\\n`;\nmsg += `\\u2022 Entrenado: ${trainedAt}\\n`;\nmsg += `\\u2022 Antig\\u00fcedad: ${typeof modelAgeDays === 'number' ? modelAgeDays + ' d\\u00edas' : 'N/A'}\\n`;\nmsg += `\\u2022 RF F1: ${rfF1} | XGB F1: ${xgbF1}\\n`;\n\nif (warnings.length > 0) {\n  msg += '\\n<b>\\u26a0\\ufe0f Avisos:</b>\\n';\n  for (const w of warnings) {\n    msg += `\\u2022 ${w}\\n`;\n  }\n}\n\nreturn [{ json: { text: msg, chat_id: '1558705287', parse_mode: 'HTML' } }];"
      },
      "id": "classify-health",
      "name": "Classify Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 100]
    },
    {
      "parameters": {
        "chatId": "1558705287",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 100],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Trading Memes"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Tokens Today", "type": "main", "index": 0 },
          { "node": "OHLCV Today", "type": "main", "index": 0 },
          { "node": "Table Totals", "type": "main", "index": 0 },
          { "node": "Latest Version", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tokens Today": {
      "main": [
        [
          { "node": "Classify Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "OHLCV Today": {
      "main": [
        [
          { "node": "Classify Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Table Totals": {
      "main": [
        [
          { "node": "Classify Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Latest Version": {
      "main": [
        [
          { "node": "Model Metadata", "type": "main", "index": 0 }
        ]
      ]
    },
    "Model Metadata": {
      "main": [
        [
          { "node": "Classify Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Classify Health": {
      "main": [
        [
          { "node": "Send Telegram", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "trading-memes"
    },
    {
      "name": "monitoring"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}