n8n/workflows/signal_notifier.json
{
  "name": "Signal Notifier — Trading Memes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "sn-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xayfwuqbbqtyerxzjbec.supabase.co/rest/v1/rpc/exec_query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: \"SELECT s.token_id, s.probability, s.signal, s.prediction, s.model_name, s.model_version, s.scored_at, t.name, t.symbol, t.chain, t.pool_address FROM scores s JOIN tokens t ON s.token_id = t.token_id WHERE s.scored_at::date = CURRENT_DATE AND s.probability >= 0.65 ORDER BY s.probability DESC LIMIT 20\" }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "sn-query-scores",
      "name": "Query High Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_SUPABASE",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Receives output from 'Query High Scores' HTTP Request node.\n// Supabase RPC exec_query returns a JSON array. When continueOnFail\n// is active, errors arrive as items with an 'error' property.\n//\n// This node builds the full Telegram message and routes output:\n//   - Output 0: message ready to send (always exactly 1 item)\n\nconst items = $input.all();\nconst today = new Date().toISOString().slice(0, 10);\n\n// --- Detect HTTP error (continueOnFail puts error info in item) ---\nconst firstItem = items[0]?.json;\nif (firstItem?.error || (firstItem?.statusCode && firstItem.statusCode >= 400)) {\n  const errorMsg = firstItem.error?.message || firstItem.message || firstItem.error || 'Error desconocido';\n  return [{\n    json: {\n      text: `<b>\\ud83d\\udd0d Se\\u00f1ales del D\\u00eda \\u2014 Trading Memes</b>\\n` +\n            `<b>Fecha:</b> ${today}\\n\\n` +\n            `\\u274c <b>ERROR</b>: Fallo al consultar Supabase.\\n` +\n            `<code>${errorMsg}</code>\\n\\n` +\n            `Verificar conectividad con Supabase y la tabla scores.`,\n      chat_id: '1558705287'\n    }\n  }];\n}\n\n// --- Parse candidates ---\n// Supabase RPC may return the array as a single item (json is the array)\n// or n8n may split each row into a separate item.\nlet candidates = [];\nif (Array.isArray(firstItem)) {\n  // Single item containing the full array\n  candidates = firstItem;\n} else if (firstItem && firstItem.token_id) {\n  // n8n split each row into its own item\n  candidates = items.map(i => i.json);\n} else if (firstItem && Array.isArray(firstItem.result)) {\n  // Wrapped in a result key\n  candidates = firstItem.result;\n}\n\n// --- No candidates at all ---\nif (!candidates || candidates.length === 0) {\n  return [{\n    json: {\n      text: `<b>\\ud83d\\udd0d Se\\u00f1ales del D\\u00eda \\u2014 Trading Memes</b>\\n` +\n            `<b>Fecha:</b> ${today}\\n\\n` +\n            `\\u2139\\ufe0f No se detectaron tokens con probabilidad \\u2265 0.65 hoy.`,\n      chat_id: '1558705287'\n    }\n  }];\n}\n\n// --- Check if scores are actually from today ---\nconst hasScoresToday = candidates.some(c => {\n  if (!c.scored_at) return false;\n  return c.scored_at.slice(0, 10) === today;\n});\n\nif (!hasScoresToday) {\n  return [{\n    json: {\n      text: `<b>\\ud83d\\udd0d Se\\u00f1ales del D\\u00eda \\u2014 Trading Memes</b>\\n` +\n            `<b>Fecha:</b> ${today}\\n\\n` +\n            `\\u26a0\\ufe0f No hay scores para hoy. Verificar daily-collect.`,\n      chat_id: '1558705287'\n    }\n  }];\n}\n\n// --- Group by chain ---\nconst chainConfig = {\n  'solana':   { emoji: '\\ud83d\\udfe2', label: 'Solana',   dex: 'solana' },\n  'ethereum': { emoji: '\\ud83d\\udd35', label: 'Ethereum', dex: 'ethereum' },\n  'base':     { emoji: '\\ud83d\\udfe1', label: 'Base',     dex: 'base' }\n};\n\nconst grouped = {};\nfor (const c of candidates) {\n  const chain = (c.chain || 'unknown').toLowerCase();\n  if (!grouped[chain]) grouped[chain] = [];\n  grouped[chain].push(c);\n}\n\n// --- Build message ---\nlet msg = `<b>\\ud83d\\udd0d Se\\u00f1ales del D\\u00eda \\u2014 Trading Memes</b>\\n`;\nmsg += `<b>Fecha:</b> ${today}\\n`;\nmsg += `<b>Tokens detectados:</b> ${candidates.length}\\n`;\n\nconst chainOrder = ['solana', 'ethereum', 'base'];\n\nfor (const chain of chainOrder) {\n  const tokens = grouped[chain];\n  if (!tokens || tokens.length === 0) continue;\n\n  const config = chainConfig[chain] || { emoji: '\\u26aa', label: chain, dex: chain };\n  msg += `\\n<b>${config.emoji} ${config.label} (${tokens.length})</b>\\n`;\n\n  tokens.forEach((t, i) => {\n    const prob = (t.probability * 100).toFixed(1);\n    const address = t.pool_address || t.address || '';\n    const link = `https://dexscreener.com/${config.dex}/${address}`;\n    const name = t.name || 'Unknown';\n    const symbol = t.symbol || '???';\n    const signal = t.signal || 'N/A';\n\n    msg += `${i + 1}. <b>${name}</b> (${symbol}) \\u2014 Score: ${prob}%\\n`;\n    msg += `   Signal: ${signal} | <a href=\"${link}\">DexScreener</a>\\n`;\n  });\n}\n\n// Handle any chains not in chainOrder\nfor (const chain of Object.keys(grouped)) {\n  if (chainOrder.includes(chain)) continue;\n  const tokens = grouped[chain];\n  msg += `\\n<b>\\u26aa ${chain} (${tokens.length})</b>\\n`;\n  tokens.forEach((t, i) => {\n    const prob = (t.probability * 100).toFixed(1);\n    const address = t.pool_address || t.address || '';\n    const link = `https://dexscreener.com/${chain}/${address}`;\n    msg += `${i + 1}. <b>${t.name || 'Unknown'}</b> (${t.symbol || '???'}) \\u2014 Score: ${prob}%\\n`;\n    msg += `   Signal: ${t.signal || 'N/A'} | <a href=\"${link}\">DexScreener</a>\\n`;\n  });\n}\n\n// Overflow note (query is already LIMIT 20 but defensive)\nif (candidates.length > 20) {\n  msg += `\\n+${candidates.length - 20} m\\u00e1s\\n`;\n}\n\nmsg += `\\n\\u26a0\\ufe0f Esto NO es consejo financiero. DYOR.`;\n\nreturn [{\n  json: {\n    text: msg,\n    chat_id: '1558705287'\n  }\n}];"
      },
      "id": "sn-format-message",
      "name": "Format Signal Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "1558705287",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "sn-telegram-send",
      "name": "Telegram: Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 300],
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID_TELEGRAM",
          "name": "Telegram Bot Trading Memes"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": false
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query High Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query High Scores": {
      "main": [
        [
          {
            "node": "Format Signal Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Signal Message": {
      "main": [
        [
          {
            "node": "Telegram: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "trading-memes"
    },
    {
      "name": "signal-notifier"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}